// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 140%;

$desktopWidth: 1330px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-black: #1d1d1f;
$brand-white: #ffffff;
$brand-gray: #9b9b9b;
$brand-primary: #323c8d;
$brand-red: #be2b2f;
$brand-green: #1e5e3f;

// Font
$mainFont: "SFProDisplay";
$mainFontColor: $brand-gray;

@mixin pruning($c) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $c;
  -webkit-box-orient: vertical;
  line-clamp: $c;
  box-orient: vertical;
}
