// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

section {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }

  &.compensate-for-scrollbar {
    padding: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $brand-primary;
  color: #fff;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  line-height: 140%;
}

.section-descr {
  max-width: 630px;
}

.main-screen {
  position: relative;
  min-height: 100vh;
  &.small {
    min-height: 500px;
  }
  height: auto;
  background-color: #000;
  .main-screen__bg {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.7) 50%
      );
    }
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header__wrapper {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-colored-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: flex;
  justify-content: space-between;
  span {
    width: 33.33%;
    &:nth-child(1) {
      background-color: $brand-primary;
    }
    &:nth-child(2) {
      background-color: $brand-red;
    }
    &:nth-child(3) {
      background-color: $brand-green;
    }
  }
}

.header__logo {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.header__descriptor {
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  color: $brand-gray-w;
  line-height: 120%;
  max-width: 100px;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;

  .info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
  }
  .info-item__ico {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-primary;
    img,
    svg {
      object-fit: contain;
    }
  }
  .info-item__link {
    color: #fff;
    font-weight: 500;
  }
  .info-item__descr {
    color: $brand-gray-w;
  }
}

.header__menu-btn {
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  .menu-btn__ball {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $brand-primary;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4766 0.823627C16.7337 0.912689 16.9353 1.07101 17.0993 1.31292C17.2657 1.55816 17.3174 1.76464 17.2959 2.09749C17.2666 2.55011 17.0179 2.92046 16.6081 3.12171L16.387 3.23031H8.98463H1.58228L1.36115 3.12171C1.11826 3.00246 0.911386 2.79718 0.773534 2.5387C0.698339 2.39769 0.684082 2.31175 0.684082 1.99984C0.684082 1.68792 0.698339 1.60199 0.773534 1.46097C0.911386 1.20249 1.11826 0.997221 1.36115 0.877963L1.58228 0.769369L8.92603 0.760658C15.9601 0.752338 16.2785 0.754994 16.4766 0.823627ZM16.4766 5.82351C16.7338 5.91273 16.9353 6.07109 17.0993 6.31292C17.2657 6.55816 17.3174 6.76464 17.2959 7.09749C17.2666 7.55011 17.0179 7.92046 16.6081 8.12171L16.387 8.23031H10.1565H3.92603L3.72224 8.12288C3.26935 7.88413 3.0281 7.49386 3.0281 6.99984C3.0281 6.50581 3.26935 6.11554 3.72224 5.87679L3.92603 5.76937L10.0979 5.76058C15.9987 5.75214 16.2789 5.75492 16.4766 5.82351ZM16.4766 10.8234C16.7339 10.9128 16.9354 11.0712 17.0993 11.3129C17.2657 11.5582 17.3174 11.7646 17.2959 12.0975C17.2666 12.5501 17.0179 12.9205 16.6081 13.1217L16.387 13.2303H12.5198H8.6526L8.4531 13.125C8.15721 12.9689 8.03568 12.8512 7.88834 12.578C7.76713 12.3532 7.7556 12.3031 7.7556 11.9998C7.7556 11.6964 7.76709 11.6466 7.88885 11.4207C8.03267 11.154 8.19693 10.9964 8.4756 10.8575L8.6526 10.7694L12.4612 10.7604C16.0727 10.7519 16.2805 10.7551 16.4766 10.8234Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
  }
}

.main-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  line-height: 120%;
}

.main-slider-section {
  & > .container {
    height: 100%;
  }
  .main-slider {
    height: fit-content;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
  }
  .slide__content {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-width: 740px;
  }
  .slide-descr {
    margin-bottom: 60px;
    color: #ffffff;
    line-height: 140%;
  }
  .slide__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;
  }
  .play-sphere {
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  .play-sphere__ico {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: orbitBall 20s linear infinite;
    transform-origin: 110px 110px;
    svg {
      animation: orbitBallReverse 20s linear infinite;
    }
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    .slide__content {
      transform: translateY(30px);
      opacity: 0.5;
    }
  }
}

@keyframes orbitBall {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes orbitBallReverse {
  100% {
    transform: rotate(-360deg);
  }
}

.main-slider__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 0;
  .swiper-pagination {
    order: 2;
    position: static;
    width: auto;
  }
  .swiper-pagination-bullet {
    transition: background-color 0.25s ease-in-out;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: #fff;
    &.swiper-pagination-bullet-active {
      background-color: $brand-primary;
    }
  }
}

.slider__btns {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 48px;
    height: 48px;
    background-color: $brand-primary;
    border-radius: 50%;
    margin: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  transition: opacity 0.25s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 13px;
  &::after {
    display: none;
  }
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.29297 13.5861L0.706971 8.00006C0.5195 7.81253 0.414185 7.55823 0.414185 7.29306C0.414185 7.0279 0.5195 6.77359 0.706971 6.58606L6.29297 1.00006C6.43282 0.860253 6.61099 0.765046 6.80494 0.726479C6.99889 0.687911 7.19993 0.707714 7.38263 0.783384C7.56533 0.859054 7.72149 0.987194 7.83137 1.1516C7.94126 1.31601 7.99993 1.50931 7.99997 1.70706V12.8791C7.99993 13.0768 7.94126 13.2701 7.83137 13.4345C7.72149 13.5989 7.56533 13.7271 7.38263 13.8027C7.19993 13.8784 6.99889 13.8982 6.80494 13.8596C6.61099 13.8211 6.43282 13.7259 6.29297 13.5861Z' fill='white'/%3e%3c/svg%3e ");
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 12.8791V1.70706C4.22242e-05 1.50931 0.0587138 1.31601 0.168598 1.1516C0.278482 0.987194 0.434645 0.859054 0.617345 0.783384C0.800044 0.707714 1.00108 0.687911 1.19503 0.726479C1.38898 0.765046 1.56715 0.860253 1.707 1.00006L7.29299 6.58606C7.48046 6.77359 7.58577 7.0279 7.58577 7.29306C7.58577 7.55823 7.48046 7.81253 7.29299 8.00006L1.707 13.5861C1.56715 13.7259 1.38898 13.8211 1.19503 13.8596C1.00108 13.8982 0.800044 13.8784 0.617345 13.8027C0.434645 13.7271 0.278482 13.5989 0.168598 13.4345C0.0587138 13.2701 4.22242e-05 13.0768 0 12.8791Z' fill='white'/%3e%3c/svg%3e ");
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.partners {
  padding: 100px 0 75px;
  overflow: hidden;
}

.partners__slider {
  .swiper-wrapper {
    margin-top: 30px;
  }
  overflow: visible;
  .swiper-slide {
    transition: background-color 0.25s ease-in-out;
    width: 268px;
    height: 150px;
    background-color: #f9f9f9;
    &:hover {
      background-color: #ebebeb;
      img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
  .partners__item {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    img {
      transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }
}

.advantages {
  padding: 75px 0;
}

.advantages__list {
  padding-top: 30px;
  display: flex;
  align-items: center;
  .advantage {
    &:not(:first-child) {
      margin-left: -30px;
    }
  }
  .advantage__wrapper {
    position: relative;
    flex-shrink: 0;
    padding: 45px;
    padding-top: 80px;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  .advantage__num {
    font-weight: 500;
    font-size: 36px;
    color: $brand-primary;
    margin-bottom: 10px;
    @include pruning(1);
  }
  .advantage__title {
    font-size: 24px;
    margin-bottom: 10px;
    @include pruning(2);
    color: $brand-black;
    font-weight: 500;
  }
  .advantage__text {
    @include pruning(4);
  }
  .advantage__step {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

.services {
  padding: 75px 0;
  overflow: hidden;
}

.services__slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
  .swiper-wrapper {
    padding-top: 30px;
  }
  .service {
    position: relative;
    width: 300px;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(50, 60, 141, 0) 0%,
        #323c8d 100%
      );
      right: 0;
      top: 0;
    }
    &::after {
      background: linear-gradient(90deg, rgba(50, 60, 141, 0) 0%, #323c8d 100%);
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      bottom: 0;
      left: 0;
    }
    .service__arrow {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $brand-primary;
      position: absolute;
      right: 30px;
      bottom: 30px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.31905 2.0373C2.31896 2.305 2.37162 2.57008 2.47403 2.81741C2.57643 3.06475 2.72656 3.28948 2.91585 3.47876C3.10514 3.66805 3.32987 3.81819 3.5772 3.92059C3.82453 4.02299 4.08962 4.07565 4.35731 4.07557H9.04282L0.596802 12.5216C0.214676 12.9037 -2.41581e-08 13.422 0 13.9624C2.41581e-08 14.5028 0.214677 15.0211 0.596803 15.4032C0.978929 15.7853 1.4972 16 2.03761 16C2.57802 16 3.09629 15.7853 3.47842 15.4032L11.9244 6.95718V11.6427C11.9243 12.1831 12.1389 12.7015 12.5209 13.0838C12.903 13.466 13.4213 13.6808 13.9617 13.681C14.5022 13.6811 15.0206 13.4665 15.4028 13.0844C15.7851 12.7024 15.9999 12.1841 16 11.6437V4.75467C16 4.13027 15.8771 3.51197 15.6381 2.9351C15.3992 2.35822 15.049 1.83406 14.6075 1.39254C14.1659 0.951023 13.6418 0.600796 13.0649 0.361863C12.488 0.12293 11.8697 -3.15252e-05 11.2453 3.07961e-07L4.35635 0C3.81605 8.15607e-05 3.2979 0.214753 2.91585 0.596803C2.5338 0.978854 2.31913 1.497 2.31905 2.0373Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center;
    }

    .service__count {
      font-size: 32px;
      margin-bottom: auto;
    }
    .service__title {
      @include pruning(2);
      font-size: 24px;
      color: $brand-black;
      margin: 10px 0;
    }
    .service__text {
      color: $brand-gray;
      line-height: 140%;
      @include pruning(5);
    }
    .service__count,
    .service__title,
    .service__text {
      transition: color 0.25s ease-in-out;
    }

    &:hover {
      .service__wrapper {
        background-color: transparent;
      }
      .service__count,
      .service__title,
      .service__text {
        color: #fff;
      }
    }
  }
  .service__blur {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
  }

  .service__wrapper {
    transition: background-color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
  }
}

.certificates {
  padding: 75px 0;
}

.certificates__slider {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .swiper-wrapper {
    padding-top: 30px;
  }
  .certificat {
    cursor: pointer;
    width: 300px;
    height: 416px;
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 1);
    padding: 10px;
    transition: box-shadow 0.25s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 0px 10px $brand-primary inset;
      .certificat__img:before {
        opacity: 1;
      }
    }
  }
  .certificat__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &:before {
      transition: opacity 0.25s ease-in-out;
      opacity: 0;
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $brand-primary;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4944 10.0622C16.9156 10.3221 14.635 10.9086 12.1745 11.9445C8.44193 13.516 4.58679 16.1352 1.40328 19.2626C0.198034 20.4467 0.055537 20.7019 0.239863 21.3459C0.412796 21.9495 2.97391 24.3351 5.33427 26.0911C9.51493 29.2011 13.846 31.116 18.233 31.794C18.9227 31.9006 19.6506 31.9387 21 31.9387C22.9404 31.9387 23.8256 31.8452 25.5695 31.456C27.2469 31.0815 29.8102 30.148 31.5347 29.2832C34.6188 27.7369 37.9763 25.3115 40.5966 22.7374C41.8019 21.5533 41.9444 21.2981 41.7601 20.6541C41.5871 20.0505 39.026 17.6649 36.6657 15.9089C33.7247 13.7212 30.7484 12.1468 27.6215 11.1249C25.3556 10.3844 23.7084 10.1018 21.4069 10.0589C20.5341 10.0426 19.6735 10.0441 19.4944 10.0622ZM22.1643 12.5426C25.5385 13.047 28.2653 15.4241 29.2054 18.6807C30.502 23.1717 27.8609 27.8943 23.3193 29.2055C18.8282 30.502 14.1057 27.8609 12.7945 23.3193C11.2506 17.9716 15.3133 12.5324 20.903 12.4635C21.2749 12.4588 21.8425 12.4945 22.1643 12.5426ZM20.2268 14.9474C19.3794 15.1143 19.1103 15.1876 18.6843 15.3676C17.2237 15.9847 15.9908 17.2177 15.3715 18.6807C15.0377 19.4692 14.9388 19.9992 14.9388 21C14.9388 22.0008 15.0377 22.5308 15.3715 23.3193C16.1237 25.0964 17.6621 26.414 19.6165 26.9552C19.8241 27.0126 20.4409 27.0558 21.0406 27.0549C22.0093 27.0534 22.1607 27.0319 22.835 26.8006C23.8911 26.4382 24.5201 26.0419 25.3131 25.2393C26.0958 24.4471 26.5753 23.6362 26.8513 22.6383L27.017 22.0386L26.7551 22.0931C25.38 22.3793 24.2575 22.0626 23.3182 21.1232C21.89 19.6951 21.8742 17.4771 23.2817 16.0168C23.5042 15.786 23.6587 15.5736 23.6249 15.5449C23.4674 15.4112 22.6896 15.1423 22.1224 15.0256C21.5469 14.9071 20.6246 14.8691 20.2268 14.9474Z' fill='white'/%3e%3c/svg%3e ");
      background-size: 41px 41px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.mission {
  padding: 75px 0;
}

.mission__wrapper {
  .mission__head {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    position: relative;
    // border-bottom: 2px solid $brand-primary;
  }
  .mission__title {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 94px;
    line-height: 100%;
    margin-right: 30px;
    font-weight: 500;
    color: $brand-black;
  }
}

.mission__img {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 43.5%;
  .img__container {
    overflow: hidden;
    box-shadow: 10px 10px 0px 0px $brand-primary;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 10px);
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.mission__footer {
  padding-top: 30px;
}

.mission__slogan {
  gap: 30px;
  position: relative;
  display: flex;
  font-size: 28px;
  text-align: center;
  font-style: italic;
  color: #6e6e73;
  &::before {
    flex-shrink: 0;
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 52px;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='52' viewBox='0 0 80 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M68.8517 52H43.0769L47.2687 32.0201C49.7659 20.4452 53.6901 12.2729 59.0412 7.50336C64.4519 2.67562 71.4381 0.174497 80 0L77.5028 11.604C73.2218 12.5928 69.922 14.2796 67.6031 16.6644C65.2843 19.0492 63.5006 22.7718 62.252 27.8322H74.0245L68.8517 52ZM25.864 52H0L4.28094 32.0201C6.77815 20.4452 10.7023 12.2729 16.0535 7.50336C21.4047 2.67562 28.3612 0.174497 36.9231 0L34.4259 11.604C30.1449 12.5928 26.845 14.2796 24.5262 16.6644C22.2074 19.0492 20.4534 22.7718 19.2642 27.8322H31.0368L25.864 52Z' fill='%23323C8D'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after {
    flex-shrink: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 80px;
    height: 52px;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='52' viewBox='0 0 80 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.1483 0H36.9231L32.7313 19.9799C30.2341 31.5548 26.3099 39.7271 20.9588 44.4966C15.5481 49.3244 8.56187 51.8255 0 52L2.49721 40.396C6.77815 39.4072 10.078 37.7204 12.3969 35.3356C14.7157 32.9508 16.4994 29.2282 17.748 24.1678H5.97547L11.1483 0ZM54.136 0H80L75.7191 19.9799C73.2218 31.5548 69.2977 39.7271 63.9465 44.4966C58.5953 49.3244 51.6388 51.8255 43.0769 52L45.5741 40.396C49.8551 39.4072 53.155 37.7204 55.4738 35.3356C57.7926 32.9508 59.5466 29.2282 60.7358 24.1678H48.9632L54.136 0Z' fill='%23323C8D'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.projects {
  padding: 75px 0;
}
.projects__list {
  padding-top: 15px;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;

  .project {
    flex: 0 0 60%;
    &:nth-of-type(4n + 2),
    &:nth-of-type(4n + 3) {
      flex: 0 0 40%;
    }

    padding: 15px;
    height: 400px;
    position: relative;
    &:hover {
      img {
        filter: none;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      z-index: -1;
      padding: 15px;
      transition: filter 0.25s ease-in-out;
    }
  }

  .project__link {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
  }

  .project__nameplate {
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 8px 12px;
    background-color: $brand-primary;
    border-radius: 2px;
  }
  .project__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.form-section {
  padding: 75px 0;
  .form-section__wrapper {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }
  .form-section__image,
  .form-section__content {
    flex: 1 0 calc(50% - 30px);

    @media (max-width: 980px) {
      flex: 0 0 100%;
    }
  }

  .form-section__content {
    form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      .form-label {
        &:nth-of-type(2),
        &:nth-of-type(3) {
          flex: 0 0 calc(50% - 30px);
        }
      }
    }
    .section-title {
      margin-bottom: 60px;
    }
    .form-label {
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      span {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.25s ease-in-out;
        padding-left: 15px;
      }
      input,
      textarea {
        width: 100%;
        padding: 5px 15px;
        border-bottom: 1px solid $brand-gray;

        &:not(:placeholder-shown) ~ span,
        &:focus ~ span {
          font-size: 12px;
          padding-left: 10px;
          top: -5px;
          color: #a6aab1;
        }
      }

      textarea {
        min-height: 35px;
        padding-top: 10px;
      }
    }
    .styles-checkbox {
      cursor: pointer;
      margin-bottom: 30px;
      position: relative;
      width: 100%;
      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &:checked + span::after {
          opacity: 1;
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        &::before {
          flex-shrink: 0;
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background-color: $brand-primary;
          border-radius: 4px;
          margin-right: 10px;
        }
        &::after {
          opacity: 0;
          position: absolute;
          width: 24px;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
          left: 0px;
          content: "";
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.87459 9.33132C3.53396 9.33146 3.20728 9.19607 2.96663 8.95501L0.22153 6.21093C-0.0738435 5.91547 -0.0738435 5.43651 0.22153 5.14104C0.516999 4.84567 0.995953 4.84567 1.29142 5.14104L3.87459 7.72422L10.7086 0.890232C11.004 0.594858 11.483 0.594858 11.7785 0.890232C12.0738 1.1857 12.0738 1.66465 11.7785 1.96012L4.78256 8.95501C4.54191 9.19607 4.21523 9.33146 3.87459 9.33132Z' fill='white'/%3e%3c/svg%3e ");
          background-size: 55%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
.title-wrapper {
  .btn {
    margin-left: auto;
    &.pdf {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
.reviews {
  padding: 75px 0;

  .review {
    overflow: hidden;
    width: 410px;
    padding: 30px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    &:before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(50, 60, 141, 0) 0%,
        #323c8d 100%
      );
      right: 0;
      top: 0;
    }
    &::after {
      background: linear-gradient(90deg, rgba(50, 60, 141, 0) 0%, #323c8d 100%);
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      bottom: 0;
      left: 0;
    }
  }

  .swiper-wrapper {
    padding-top: 30px;
  }
  .review__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    color: $brand-black;
  }
  .review__text {
    @include pruning(10);
    line-height: 120%;
  }
  .review__footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding-top: 44px;
    margin-top: auto;
  }
  .name {
    font-size: 20px;
    color: $brand-black;
  }
  .position {
    font-size: 14px;
  }
  .reviews__slider {
    overflow: visible;
  }
}
.reviews__slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .footer__nav {
    padding-top: 60px;
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
  }
  .nav-col > a {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .nav-col {
    &:nth-of-type(1) {
      flex: 1 0 calc(16% - 30px);
    }
    &:nth-of-type(2) {
      flex: 1 0 calc(33% - 30px);
    }
    &:nth-of-type(3) {
      flex: 1 0 calc(51% - 30px);
    }
  }
  .nav-col__list {
    list-style-position: inside;
    list-style-type: decimal;
    // -moz-column-count: 3; /* Firefox */
    // -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3;

    margin-top: 20px;
    li {
      margin-bottom: 10px;
      a {
        font-weight: 300;
        color: $brand-gray-w;
      }
    }
  }

  .header__wrapper {
    padding: 30px 0;
  }

  .header__info {
    margin: 0;
  }
}

.footer__bottom {
  background: #1d1d1f;
  padding: 30px 0;
  padding-top: 0;
  .footer_w {
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
.footer__asa {
  display: flex;
  align-items: center;
  color: $brand-gray;
  gap: 10px;
}

.play-sphere .gif {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.breadcrumb {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  li {
    a {
      color: $brand-gray;
    }
    &:last-child a {
      color: #fff;
    }
  }
}

.main-screen.small {
  .main-title {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

.docs {
  padding: 75px 0;
}
.docs__block {
  margin-bottom: 60px;
}
.doc__watch {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='18' viewBox='0 0 32 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8437 0.59981C12.8632 0.799435 11.1117 1.24987 9.22206 2.04544C6.35543 3.25231 3.39468 5.26387 0.949745 7.66575C0.0241202 8.57512 -0.0853173 8.77112 0.0562453 9.26569C0.189058 9.72931 2.156 11.5614 3.96875 12.91C7.1795 15.2985 10.5057 16.7691 13.875 17.2899C14.4047 17.3717 14.9637 17.401 16 17.401C17.4902 17.401 18.1701 17.3292 19.5094 17.0302C20.7976 16.7427 22.7662 16.0257 24.0907 15.3616C26.4592 14.174 29.0378 12.3113 31.0502 10.3344C31.9759 9.425 32.0853 9.229 31.9437 8.73444C31.8109 8.27081 29.844 6.43869 28.0312 5.09012C25.7726 3.40994 23.4868 2.20081 21.0854 1.416C19.3451 0.847248 18.0801 0.630248 16.3125 0.59731C15.6422 0.58481 14.9812 0.585935 14.8437 0.59981ZM16.8942 2.50475C19.4856 2.89219 21.5797 4.71775 22.3018 7.21881C23.2976 10.6679 21.2692 14.2949 17.7812 15.3019C14.3321 16.2976 10.7052 14.2692 9.69818 10.7813C8.5125 6.67425 11.6326 2.49694 15.9255 2.444C16.2111 2.44044 16.6471 2.46781 16.8942 2.50475ZM15.4062 4.35169C14.7554 4.47981 14.5487 4.53612 14.2216 4.67437C13.0998 5.14831 12.153 6.09525 11.6774 7.21881C11.421 7.82444 11.3451 8.23144 11.3451 9.00006C11.3451 9.76869 11.421 10.1757 11.6774 10.7813C12.2551 12.1461 13.4365 13.158 14.9375 13.5736C15.0969 13.6177 15.5706 13.6509 16.0312 13.6502C16.7752 13.6491 16.8914 13.6326 17.4093 13.4549C18.2204 13.1766 18.7035 12.8722 19.3125 12.2558C19.9136 11.6474 20.2819 11.0247 20.4938 10.2582L20.6211 9.79768L20.4199 9.83956C19.3639 10.0594 18.5018 9.81612 17.7804 9.09469C16.6836 7.99787 16.6714 6.29444 17.7524 5.17294C17.9232 4.99569 18.0419 4.83262 18.0159 4.81056C17.895 4.70787 17.2976 4.50137 16.862 4.41169C16.4201 4.32075 15.7117 4.29156 15.4062 4.35169Z' fill='%239B9B9B'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.doc__load {
  flex-shrink: 0;
  width: 24px;
  height: 32px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='32' viewBox='0 0 24 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.58038 0.0906631C0.943938 0.289538 0.481687 0.695913 0.193812 1.3096L0.03125 1.65623V16V30.3437L0.195938 30.695C0.427625 31.189 0.758125 31.5279 1.23981 31.765L1.65363 31.9687H12H22.3464L22.7602 31.765C23.2419 31.5279 23.5724 31.189 23.8041 30.695L23.9688 30.3437L23.9852 21.0469C23.9942 15.9336 23.9858 11.75 23.9664 11.75C23.9471 11.75 23.8413 11.7992 23.7313 11.8594C23.5473 11.96 23.1877 11.9703 19.25 11.9879C16.2459 12.0014 14.8569 11.9859 14.5938 11.9362C13.6959 11.7665 12.8081 11.1215 12.3919 10.3366C11.9943 9.58691 11.9941 9.58273 12.0136 4.79398C12.0299 0.812601 12.0399 0.452851 12.1406 0.268726C12.2008 0.158663 12.25 0.0532256 12.25 0.0343506C12.25 0.0154131 9.90856 0.00185061 7.04688 0.00416311C2.92763 0.00747561 1.78888 0.0254756 1.58038 0.0906631ZM14 5.01779C14 8.27123 14.0166 9.10598 14.0842 9.2676C14.2175 9.58604 14.6327 9.92198 14.9482 9.96679C15.097 9.98785 16.9696 9.99697 19.1096 9.98691L23.0004 9.96873L18.5002 5.46891L14 0.969038V5.01779ZM12.5477 12.667C12.6375 12.734 12.769 12.8666 12.8399 12.9615C12.9656 13.1298 12.9692 13.2132 12.9861 16.359L13.0033 19.584L13.7673 18.8289C14.588 18.0178 14.7365 17.9367 15.2313 18.0295C15.5389 18.0872 15.9128 18.461 15.9705 18.7687C16.0741 19.321 16.067 19.3308 14.1989 21.1989C12.7033 22.6945 12.437 22.9348 12.2344 22.9715C11.6783 23.0721 11.6693 23.0656 9.80075 21.1982C7.93194 19.3305 7.92569 19.3219 8.0295 18.7687C8.08719 18.461 8.46106 18.0872 8.76869 18.0295C9.26363 17.9366 9.41187 18.0177 10.2344 18.8306L11 19.5874V16.454C11 14.3862 11.0227 13.2608 11.0667 13.1447C11.1547 12.9124 11.3623 12.6919 11.5938 12.5847C11.8428 12.4694 12.3406 12.5124 12.5477 12.667ZM17.5384 25.1601C17.8664 25.405 17.9688 25.6047 17.9688 26C17.9688 26.3952 17.8664 26.595 17.5384 26.8398C17.3679 26.9672 17.306 26.9689 12.1361 26.9874C8.58019 27.0001 6.83306 26.9848 6.67769 26.9397C6.04262 26.7555 5.79731 25.8872 6.23375 25.3685C6.55494 24.9869 6.29444 25.0025 12.0736 25.0175C17.3105 25.0311 17.3677 25.0326 17.5384 25.1601Z' fill='%239B9B9B'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.docs__title {
  margin: 30px 0;
  font-size: 24px;
  color: $brand-black;
}
.doc-ico {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.docs__list {
  .list__item {
    padding: 30px;
    border: 1px solid #9b9b9b;
    &:not(:last-child) {
      border-bottom: none;
    }
    display: flex;

    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    .doc__watch {
      margin-left: auto;
      flex-shrink: 0;
    }
    .doc__name {
      font-size: 20px;
      color: $brand-black;
      margin-bottom: 5px;
    }

    &.pdf .doc-ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='46' viewBox='0 0 48 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5191 16.4913C13.6477 15.8804 13.5603 14.8011 13.3607 14.5321C13.1372 14.231 12.5314 14.2002 12.2561 14.4761C11.995 14.7377 11.8834 15.1711 11.8829 15.9258C11.8824 16.6014 12.0227 17.108 12.4344 17.9168L12.4661 17.9792C12.6731 18.3865 12.7774 18.5916 12.8622 18.5838C12.9482 18.5759 13.0143 18.349 13.1473 17.8919L13.1674 17.8227C13.3092 17.3359 13.4675 16.7369 13.5191 16.4913Z' fill='%23BE2B2F'/%3e%3cpath d='M14.6816 23.5338L15.7866 24.6246L15.2892 24.7227C15.0156 24.7766 14.293 24.962 13.6835 25.1345C13.074 25.307 12.5665 25.4394 12.5557 25.4286C12.5302 25.403 13.5164 22.4431 13.5505 22.4431C13.5649 22.4431 14.0738 22.9339 14.6816 23.5338Z' fill='%23BE2B2F'/%3e%3cpath d='M7.29427 30.7361C7.80543 30.2582 8.54539 29.4053 8.73993 29.0699C8.7724 29.0139 8.76939 28.9689 8.73317 28.97C8.59854 28.9742 5.87522 30.4144 5.52392 30.6672C5.32336 30.8115 5.09448 31.0396 5.0152 31.174L4.87113 31.4184L5.15902 31.539C5.81051 31.8117 6.36815 31.6021 7.29427 30.7361Z' fill='%23BE2B2F'/%3e%3cpath d='M21.9063 25.7076C22.2226 25.7957 22.3288 25.9426 22.2434 26.1745C22.1669 26.3822 22.0545 26.437 21.702 26.4384C21.3909 26.4396 20.7014 26.1266 20.2661 25.7865L20.0627 25.6276L20.8359 25.6263C21.2612 25.6255 21.7429 25.6621 21.9063 25.7076Z' fill='%23BE2B2F'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2813 3.13014C1.39 4.99529 0.581188 5.14781 0.300827 5.61646C0.27586 5.65819 0.255084 5.70243 0.232458 5.75061C0.218028 5.78134 0.202846 5.81367 0.185344 5.84798C0.00271875 6.20601 0 6.46045 0 23.0001C0 39.5398 0.00271875 39.7942 0.185344 40.1522C0.203185 40.1872 0.21857 40.2201 0.233179 40.2514C0.255415 40.2989 0.275859 40.3427 0.300422 40.3839C0.579422 40.8527 1.39068 41.0047 11.417 42.8829L11.4172 42.883L11.4194 42.8834C11.9989 42.992 12.6091 43.1063 13.2518 43.2268L25.5677 45.5355L26.0042 45.3689C26.2722 45.2665 26.5397 45.0725 26.6969 44.8664L26.9531 44.5307L27.0086 39.5026L37.0287 39.4779C46.9835 39.4534 47.0505 39.452 47.3077 39.2599C47.4501 39.1536 47.6535 38.9502 47.7598 38.8078C47.953 38.5491 47.9531 38.5379 47.9774 23.1329C47.9792 22.0081 47.981 20.963 47.9827 19.9917L47.9828 19.9845L47.9828 19.982C48.0038 8.10708 48.0052 7.27844 47.6045 6.96665C47.5745 6.94327 47.5422 6.92279 47.5074 6.90078C47.4694 6.87669 47.4285 6.85075 47.3844 6.81716L47.0303 6.54698L27 6.49757V4.09898C27 2.06957 26.9763 1.65041 26.8462 1.3762C26.6185 0.896477 26.1401 0.570977 25.6133 0.537414C25.3275 0.519227 20.8997 1.31545 13.0538 2.79585C12.4327 2.91304 11.8424 3.02435 11.2813 3.13014ZM45 36.5001H27V30.4966L27.0088 25.6468V14.3517L27 9.5001H45V36.5001ZM11.8595 12.6862C10.8341 13.0702 10.3144 13.9251 10.1698 15.4661C10.0258 17.0003 10.4779 18.2985 11.8369 20.2534L12.2389 20.8318L11.7261 22.3919C11.0728 24.3792 10.4294 26.1279 10.3082 26.246C10.2562 26.2965 9.24319 26.8047 8.05686 27.3753C5.48941 28.6102 4.58161 29.1309 4.00614 29.6985C3.48456 30.2132 3.25503 30.6437 3.19585 31.2183C3.03803 32.7505 5.14934 33.911 6.7726 33.184C8.31602 32.4929 9.94824 30.6917 11.3369 28.1474L11.629 27.6122L12.6307 27.2753C13.7938 26.8839 15.08 26.5396 16.5376 26.2293L17.5707 26.0094L18.1248 26.4161C19.0335 27.0831 19.6176 27.4582 20.3265 27.83C20.942 28.1529 21.044 28.181 21.5637 28.1714C22.2945 28.1578 22.6826 28.0491 23.1643 27.723C23.6528 27.3925 23.9337 26.8583 23.9903 26.1527C24.0829 24.9958 23.5134 24.2964 22.2322 23.9939C21.625 23.8505 19.8889 23.8664 18.9638 24.0238C18.5385 24.096 18.1483 24.1554 18.0966 24.1556C17.8324 24.1565 15.6223 22.1159 14.5983 20.9257L14.1848 20.4449L14.5398 19.303C15.2116 17.1428 15.3237 16.5679 15.2795 15.5104C15.2187 14.0568 14.8652 13.2654 14.0807 12.8263C13.7936 12.6656 13.5872 12.6244 12.9485 12.6003C12.4104 12.5801 12.0715 12.6068 11.8595 12.6862Z' fill='%23BE2B2F'/%3e%3cpath d='M27 12.2188H41.4375C42.2659 12.2188 42.9375 12.8904 42.9375 13.7188C42.9375 14.5473 42.2659 15.2188 41.4375 15.2188H27V12.2188Z' fill='%23BE2B2F'/%3e%3cpath d='M27 17.4688H36.4219C36.9655 17.4688 37.4063 17.9096 37.4063 18.4532C37.4063 18.9969 36.9655 19.4376 36.4219 19.4376H27V17.4688Z' fill='%23BE2B2F'/%3e%3cpath d='M27 20.9376H36.4219C36.9655 20.9376 37.4063 21.3783 37.4063 21.922C37.4063 22.4656 36.9655 22.9063 36.4219 22.9063H27V20.9376Z' fill='%23BE2B2F'/%3e%3cpath d='M27 24.4063H36.4219C36.9655 24.4063 37.4063 24.8471 37.4063 25.3907C37.4063 25.9344 36.9655 26.3751 36.4219 26.3751H27V24.4063Z' fill='%23BE2B2F'/%3e%3cpath d='M42.9375 31.7188C42.9375 33.2722 41.6783 34.5313 40.125 34.5313C38.5717 34.5313 37.3125 33.2722 37.3125 31.7188C37.3125 30.1655 38.5717 28.9063 40.125 28.9063C41.6783 28.9063 42.9375 30.1655 42.9375 31.7188Z' fill='%23BE2B2F'/%3e%3c/svg%3e ");
    }
    &.power .doc-ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='46' viewBox='0 0 48 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0537 2.79585C-0.113437 5.28032 0.555937 5.1216 0.185344 5.84798C0.00271875 6.20601 0 6.46045 0 23.0001C0 39.5398 0.00271875 39.7942 0.185344 40.1522C0.556687 40.8801 -0.136125 40.7171 13.2518 43.2268L25.5677 45.5355L26.0042 45.3689C26.2722 45.2665 26.5397 45.0725 26.6969 44.8664L26.9531 44.5307L26.9809 42.0166L27.0086 39.5026L37.0287 39.4779C46.9835 39.4534 47.0505 39.452 47.3077 39.2599C47.4501 39.1536 47.6535 38.9502 47.7598 38.8078C47.953 38.5491 47.9531 38.5379 47.9774 23.1329C48.0042 6.08526 48.0492 7.32426 47.3844 6.81716L47.0302 6.54698L37.0151 6.52232L27 6.49757V4.09898C27 2.06957 26.9763 1.65041 26.8462 1.3762C26.6185 0.896477 26.1401 0.570977 25.6132 0.537414C25.3275 0.519227 20.8997 1.31545 13.0537 2.79585ZM45 23.0001V36.5001H36H27V35.0019V33.5036L34.0244 33.4785C40.953 33.4536 41.0524 33.4506 41.3077 33.2599C41.7166 32.9546 41.9231 32.617 41.9733 32.172C42.0347 31.6276 41.8302 31.1572 41.3844 30.8172L41.0303 30.547L34.0151 30.5218L27 30.4966L27.0088 25.6468C27.0166 21.3797 27.0324 20.8702 27.1407 21.4064C27.6712 24.0314 29.4975 26.1679 31.9537 27.0371C35.2817 28.2148 38.8511 27.0109 40.7865 24.0583C41.1887 23.4448 41.8125 21.9718 41.8125 21.6359C41.8125 21.5193 41.1897 21.5001 37.4062 21.5001H33V17.0939C33 13.278 32.9815 12.6876 32.8621 12.6876C32.7862 12.6876 32.3799 12.8132 31.9593 12.9668C29.4886 13.8684 27.6662 15.9967 27.1409 18.5939C27.0323 19.1303 27.0166 18.6222 27.0088 14.3517L27 9.5001H36H45V23.0001ZM36 15.5864V18.5001H38.9137H41.8274L41.7635 18.1954C41.5334 17.0987 40.6961 15.6252 39.7855 14.7146C38.8749 13.804 37.4014 12.9667 36.3047 12.7366L36 12.6727V15.5864ZM16.8595 15.8024C17.842 16.1552 18.5076 16.5773 19.2654 17.3282C20.3498 18.4027 20.9967 19.9615 20.9967 21.5001C20.9967 23.7151 19.6766 25.8556 17.7127 26.825C16.571 27.3886 15.9452 27.4965 13.809 27.4985L12.0086 27.5001L11.9809 30.0247C11.9547 32.4049 11.9421 32.5641 11.7598 32.8079C11.3923 33.2999 11.0928 33.4532 10.5 33.4532C9.90712 33.4532 9.6075 33.2998 9.24019 32.8078C9.04912 32.5519 9.04659 32.4591 9.01884 24.7042C9.00028 19.5076 9.02353 16.7468 9.08756 16.5257C9.19294 16.1624 9.45216 15.8777 9.89062 15.6437C10.1353 15.5132 10.5616 15.4978 13.1719 15.5246C16.1387 15.5551 16.1795 15.5582 16.8595 15.8024ZM12 21.5001V24.5142L13.8516 24.4837C15.6211 24.4545 15.7264 24.4424 16.2268 24.2076C17.3292 23.6907 17.9519 22.7133 17.9519 21.5001C17.9519 20.2869 17.3292 19.3095 16.2268 18.7926C15.7264 18.5579 15.6211 18.5457 13.8516 18.5165L12 18.486V21.5001Z' fill='%23FFAB00'/%3e%3c/svg%3e ");
    }
    &.word .doc-ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='46' viewBox='0 0 48 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0537 2.79585C-0.113437 5.28032 0.555937 5.1216 0.185344 5.84798C0.00271875 6.20601 0 6.46045 0 23.0001C0 39.5398 0.00271875 39.7942 0.185344 40.1522C0.556687 40.8801 -0.136125 40.7171 13.2518 43.2268L25.5677 45.5355L26.0042 45.3689C26.2722 45.2665 26.5397 45.0725 26.6969 44.8664L26.9531 44.5307L26.9809 42.0166L27.0086 39.5026L37.0287 39.4779C46.9835 39.4534 47.0505 39.452 47.3077 39.2599C47.4501 39.1536 47.6535 38.9502 47.7598 38.8078C47.953 38.5491 47.9531 38.5379 47.9774 23.1329C48.0042 6.08526 48.0492 7.32426 47.3844 6.81716L47.0302 6.54698L37.0151 6.52232L27 6.49757V4.09898C27 2.06957 26.9763 1.65041 26.8462 1.3762C26.6185 0.896477 26.1401 0.570977 25.6132 0.537414C25.3275 0.519227 20.8997 1.31545 13.0537 2.79585ZM45 23.0001V36.5001H36H27V35.0019V33.5036L34.0244 33.4784C40.953 33.4536 41.0524 33.4506 41.3077 33.2599C41.7166 32.9546 41.9231 32.617 41.9733 32.172C42.0347 31.6276 41.8302 31.1572 41.3844 30.8172L41.0303 30.547L34.0151 30.5218L27 30.4966V29.0001V27.5036L34.0244 27.4784C40.953 27.4536 41.0524 27.4506 41.3077 27.2599C41.7166 26.9546 41.9231 26.617 41.9733 26.172C42.0347 25.6276 41.8302 25.1572 41.3844 24.8172L41.0303 24.547L34.0151 24.5218L27 24.4966V23.0001V21.5036L34.0244 21.4784C40.953 21.4536 41.0524 21.4506 41.3077 21.2599C41.7166 20.9546 41.9231 20.617 41.9733 20.172C42.0347 19.6276 41.8302 19.1572 41.3844 18.8172L41.0303 18.547L34.0151 18.5218L27 18.4966V17.0001V15.5036L34.0244 15.4784C40.953 15.4536 41.0524 15.4506 41.3077 15.2599C41.7166 14.9546 41.9231 14.617 41.9733 14.172C42.0347 13.6276 41.8302 13.1572 41.3844 12.8172L41.0303 12.547L34.0151 12.5218L27 12.4966V10.9983V9.5001H36H45V23.0001ZM20.3735 15.8088C20.5489 15.9426 20.7684 16.2123 20.8613 16.4083C21.0292 16.7617 21.0246 16.8172 20.2584 23.7026C19.8338 27.5186 19.4623 30.7628 19.4328 30.912C19.3456 31.3537 18.7439 31.8817 18.2422 31.957C17.6619 32.044 17.0034 31.7259 16.7267 31.2249C16.6192 31.0305 15.8603 29.0793 15.0401 26.8889C14.2199 24.6985 13.5271 22.9064 13.5005 22.9064C13.4738 22.9064 12.8019 24.6466 12.0074 26.7735C10.496 30.8193 10.2573 31.3889 9.97106 31.6331C9.2325 32.2633 8.07187 32.0022 7.68234 31.1181C7.47328 30.6437 5.96081 20.1939 6.03459 19.7336C6.10275 19.3079 6.51544 18.7915 6.92362 18.6209C7.62216 18.329 8.58262 18.7057 8.85816 19.3797C8.92397 19.5404 9.11175 20.6423 9.27553 21.8282C9.43941 23.0142 9.60412 24.0628 9.64172 24.1584C9.68981 24.281 10.0382 23.452 10.8234 21.3459C12.2058 17.6386 12.2504 17.5459 12.7761 17.2914C13.5929 16.8959 14.4716 17.1644 14.8472 17.9242C14.9655 18.1636 15.544 19.6462 16.1328 21.2189C16.8929 23.2495 17.2119 24.0014 17.2335 23.8131C17.2502 23.6673 17.4427 21.9553 17.6612 20.0085C18.0168 16.8415 18.081 16.4376 18.2712 16.1704C18.7622 15.481 19.7262 15.3151 20.3735 15.8088Z' fill='%23323C8D'/%3e%3c/svg%3e ");
    }
    &.exel .doc-ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='46' viewBox='0 0 48 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0537 2.79585C-0.113437 5.28032 0.555937 5.1216 0.185344 5.84798C0.00271875 6.20601 0 6.46045 0 23.0001C0 39.5398 0.00271875 39.7942 0.185344 40.1522C0.556687 40.8801 -0.136125 40.7171 13.2518 43.2268L25.5677 45.5355L26.0042 45.3689C26.2722 45.2665 26.5397 45.0725 26.6969 44.8664L26.9531 44.5307L26.9809 42.0166L27.0086 39.5026L37.0287 39.4779C46.9835 39.4534 47.0505 39.452 47.3077 39.2599C47.4501 39.1536 47.6535 38.9502 47.7598 38.8078C47.953 38.5491 47.9531 38.5379 47.9774 23.1329C48.0042 6.08526 48.0492 7.32426 47.3844 6.81716L47.0302 6.54698L37.0151 6.52232L27 6.49757V4.09898C27 2.06957 26.9763 1.65041 26.8462 1.3762C26.6185 0.896477 26.1401 0.570977 25.6132 0.537414C25.3275 0.519227 20.8997 1.31545 13.0537 2.79585ZM45 23.0001V36.5001H36H27V35.0044V33.5087L29.5246 33.481C31.9048 33.4548 32.064 33.4422 32.3078 33.2599C32.7167 32.9545 32.9231 32.6169 32.9733 32.172C33.0347 31.6277 32.8302 31.1572 32.3846 30.8172L32.0306 30.547L29.5153 30.5192L27 30.4915V29.0001V27.5087L29.5246 27.481C31.9048 27.4548 32.064 27.4422 32.3078 27.2599C32.7167 26.9545 32.9231 26.6169 32.9733 26.172C33.0347 25.6277 32.8302 25.1572 32.3846 24.8172L32.0306 24.547L29.5153 24.5192L27 24.4915V23.0001V21.5087L29.5246 21.481C31.9048 21.4548 32.064 21.4422 32.3078 21.2599C32.7167 20.9545 32.9231 20.6169 32.9733 20.172C33.0347 19.6277 32.8302 19.1572 32.3846 18.8172L32.0306 18.547L29.5153 18.5192L27 18.4915V17.0001V15.5087L29.5246 15.481C31.9048 15.4548 32.064 15.4422 32.3078 15.2599C32.7167 14.9545 32.9231 14.6169 32.9733 14.172C33.0347 13.6277 32.8302 13.1572 32.3846 12.8172L32.0306 12.547L29.5153 12.5192L27 12.4915V10.9958V9.5001H36H45V23.0001ZM36.8647 12.653C35.9568 13.1087 35.7273 14.2325 36.3883 14.9853C36.8077 15.4629 37.1168 15.5176 39.2044 15.4834C40.8951 15.4558 41.071 15.4371 41.3079 15.2599C41.7167 14.9544 41.9232 14.6168 41.9733 14.172C42.0347 13.6277 41.8302 13.1573 41.3847 12.8172L41.0308 12.547L39.1013 12.5229C37.4645 12.5024 37.1253 12.5221 36.8647 12.653ZM20.1239 14.1539C20.7797 14.4651 21.1516 15.3052 20.9234 15.9599C20.8687 16.1169 19.7215 17.6612 18.3741 19.3919C17.0267 21.1225 15.9378 22.5758 15.9543 22.6214C15.9709 22.6669 17.0391 23.9102 18.3281 25.3841C19.6172 26.858 20.7483 28.2008 20.8417 28.3679C21.3396 29.2592 20.5551 30.5001 19.4937 30.5001C18.8848 30.5001 18.5944 30.2384 16.3044 27.6258C15.0663 26.2131 14.0161 25.0802 13.9708 25.1082C13.9255 25.1362 13.0252 26.2686 11.97 27.6247C10.9148 28.9807 9.93816 30.1646 9.7995 30.2554C8.91609 30.8342 7.64466 30.2183 7.52456 29.1534C7.49428 28.8848 7.53094 28.6367 7.63191 28.4275C7.71619 28.2525 8.73337 26.8921 9.89241 25.4042L11.9996 22.699L11.367 21.9809C8.90766 19.1891 7.80609 17.8959 7.66406 17.6339C7.03087 16.4656 8.38987 15.0683 9.60047 15.6428C9.83653 15.7548 10.5688 16.5177 11.9079 18.0465L13.8697 20.2862L14.476 19.5104C18.9422 13.7954 18.7562 14.0001 19.4843 14.0001C19.6579 14.0001 19.9457 14.0693 20.1239 14.1539ZM36.8647 18.653C35.9568 19.1087 35.7273 20.2325 36.3883 20.9853C36.8077 21.4629 37.1168 21.5176 39.2044 21.4834C40.8951 21.4558 41.071 21.4371 41.3079 21.2599C41.7167 20.9544 41.9232 20.6168 41.9733 20.172C42.0347 19.6277 41.8302 19.1573 41.3847 18.8172L41.0308 18.547L39.1013 18.5229C37.4645 18.5024 37.1253 18.5221 36.8647 18.653ZM36.8647 24.653C35.9568 25.1087 35.7273 26.2325 36.3883 26.9853C36.8077 27.4629 37.1168 27.5176 39.2044 27.4834C40.8951 27.4558 41.071 27.4371 41.3079 27.2599C41.7167 26.9544 41.9232 26.6168 41.9733 26.172C42.0347 25.6277 41.8302 25.1573 41.3847 24.8172L41.0308 24.547L39.1013 24.5229C37.4645 24.5024 37.1253 24.5221 36.8647 24.653ZM36.8647 30.653C35.9568 31.1087 35.7273 32.2325 36.3883 32.9853C36.8077 33.4629 37.1168 33.5176 39.2044 33.4834C40.8951 33.4558 41.071 33.4371 41.3079 33.2599C41.7167 32.9544 41.9232 32.6168 41.9733 32.172C42.0347 31.6277 41.8302 31.1573 41.3847 30.8172L41.0308 30.547L39.1013 30.5229C37.4645 30.5024 37.1253 30.5221 36.8647 30.653Z' fill='%231E5E3F'/%3e%3c/svg%3e ");
    }
  }
}

.site-menu {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.site-menu__nav {
  padding-top: 100px;
  li {
    margin-bottom: 10px;
    a {
      font-weight: 600;
      font-size: 36px;
      color: #ffffff;
      padding: 10px 0;
    }
  }
}

.header__menu-btn[data-burger-menu-close] {
  .menu-btn__ball {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.7674 9.99977L14.9999 6.76393C15.2098 6.5254 15.321 6.2159 15.3108 5.89835C15.3007 5.58079 15.17 5.27901 14.9454 5.05435C14.7207 4.82969 14.4189 4.69901 14.1014 4.68887C13.7838 4.67873 13.4743 4.7899 13.2358 4.99977L9.99994 8.23227L6.75828 4.98977C6.64216 4.87366 6.50432 4.78155 6.35262 4.71872C6.20091 4.65588 6.03831 4.62354 5.87411 4.62354C5.7099 4.62354 5.54731 4.65588 5.3956 4.71872C5.2439 4.78155 5.10605 4.87366 4.98994 4.98977C4.87383 5.10588 4.78173 5.24372 4.71889 5.39543C4.65605 5.54713 4.62371 5.70973 4.62371 5.87394C4.62371 6.03814 4.65605 6.20074 4.71889 6.35244C4.78173 6.50415 4.87383 6.64199 4.98994 6.7581L8.23244 9.99977L4.99994 13.2348C4.87317 13.3481 4.77085 13.4861 4.69924 13.6403C4.62764 13.7945 4.58825 13.9618 4.5835 14.1317C4.57874 14.3017 4.60871 14.4709 4.67158 14.6289C4.73445 14.7868 4.82889 14.9303 4.94912 15.0506C5.06936 15.1708 5.21286 15.2653 5.37086 15.3281C5.52885 15.391 5.698 15.421 5.86798 15.4162C6.03795 15.4115 6.20517 15.3721 6.35939 15.3005C6.51362 15.2289 6.65162 15.1265 6.76494 14.9998L9.99994 11.7673L13.2316 14.9998C13.4661 15.2343 13.7841 15.366 14.1158 15.366C14.4474 15.366 14.7654 15.2343 14.9999 14.9998C15.2344 14.7653 15.3662 14.4472 15.3662 14.1156C15.3662 13.784 15.2344 13.4659 14.9999 13.2314L11.7674 9.99977Z' fill='white'/%3e%3c/svg%3e ");
  }
}

@media (max-width: 1330px) {
  .advantages__list .advantage:not(:first-child) {
    margin-left: -45px;
  }
  .mission__wrapper .mission__title {
    font-size: 7vw;
  }
}

@media (max-width: 1279px) {
  .advantages__list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 0;
    .advantage {
      flex: 0 0 50%;
      margin: 0 !important;
      justify-content: center;
      display: flex;
    }
  }
}

@media (max-width: 980px) {
  .projects__list .project {
    flex: 0 0 100% !important;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .projects__list {
    margin-right: 0;
    margin-left: 0;
  }
  .projects__list .project img {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  header,
  .site-menu {
    .header__info {
      display: none;
    }
  }
}

.is-mobile {
  display: none;
}

@media (max-width: 980px) {
  .is-mobile {
    display: block;
  }
  .partners__slider {
    display: flex;
    flex-direction: column;
  }
  .partners .title-wrapper,
  .services__slider .title-wrapper,
  .certificates__slider .title-wrapper,
  .reviews__slider .title-wrapper {
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
    order: 10;
    .section-title {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .projects__list .project {
    height: 300px;
  }
  .title-wrapper {
    gap: 15px;
    .btn {
      padding: 14px 18px;
      span {
        flex-shrink: 0;
        font-size: 12px;
      }
    }
  }
  .form-section .form-section__content form .form-label:nth-of-type(2),
  .form-section .form-section__content form .form-label:nth-of-type(3) {
    flex: auto;
  }
  .advantages,
  .services,
  .certificates,
  .mission,
  .projects,
  .form-section,
  .reviews {
    padding: 30px 0;
  }
  .partners {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer .footer__nav {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .main-slider-section .main-slider {
    padding-top: 50px;
  }
  .main-title {
    font-size: 32px;
  }
  .main-slider-section .slide__wrapper {
    flex-direction: column;
  }
  .main-slider-section .play-sphere {
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .footer__bottom .header__wrapper {
    .header__logo {
      flex-shrink: 0;
    }
    gap: 30px 0;
    .header__info {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
@media (max-width: 576px) {
  .footer__bottom .header__wrapper {
    flex-wrap: wrap;
    .header__info {
      flex: 0 0 100%;
    }
  }
  .footer__asa {
    width: 100%;
    justify-content: space-between;
  }
  .reviews .review {
    width: 85vw;
  }
  .reviews .review__footer {
    flex-direction: column;
  }
  .section-title {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1100px) {
  .footer .nav-col__list {
    column-count: 2;
  }
}
@media (max-width: 800px) {
  @media (max-width: 1100px) {
    .footer .nav-col__list {
      column-count: 1;
    }
  }
}

@media (max-width: 680px) {
  .footer__nav {
    flex-direction: column;
  }
  .mission__slogan::before,
  .mission__slogan::after {
    width: 28px;
    height: 18px;
  }
  .mission__slogan::after {
    margin-top: auto;
  }
  .mission__slogan {
    font-size: 18px;
    gap: 10px;
  }
}

@media (max-width: 414px) {
  .title-wrapper {
    justify-content: space-between !important;
    .btn {
      margin-left: 0;
    }
    .slider__btns {
      margin-left: auto;
    }
  }
  .advantages__list {
    gap: 0;
  }
  .advantages__list .advantage:not(:last-child) {
    margin-bottom: -45px !important;
  }
  .site-menu {
    overflow: auto;
  }
  .site-menu__nav li a {
    font-size: 28px;
  }
  .site-menu__nav {
    padding-top: 50px;
  }
  .services__slider .service__wrapper {
    padding: 25px;
    padding-bottom: 70px;
  }
  .services__slider .service .service__arrow {
    right: 20px;
    bottom: 20px;
  }
  .form-section .form-section__content .section-title {
    margin-bottom: 30px;
  }
  .mission__wrapper .mission__title {
    margin-right: 10px;
  }
  .header__logo {
    width: 48px;
    height: 48px;
  }
  .header__descriptor {
    font-size: 12px;
    line-height: 100%;
  }
  .header__wrapper {
    padding: 15px 0;
  }
  .main-slider-section .main-slider {
    padding-top: 30px;
  }
  .main-slider-section .main-slider {
    min-height: calc(100vh - 78px);
  }
}

@media (max-width: 768px) {
  .main-slider-section .play-sphere {
    display: none;
  }
  .services__slider .swiper-slide-active {
    .service__wrapper {
      background-color: transparent !important;
    }
    .service__count,
    .service__title,
    .service__text {
      color: #fff !important;
    }
  }
  .projects__list .project img {
    filter: none;
  }
  .projects__list .project__link {
    padding: 20px;
  }
  .projects__list .project__nameplate {
    left: 20px;
    top: 20px;
  }
  .partners__slider .partners__item img {
    filter: none;
    opacity: 1;
  }
  .partners__slider .swiper-slide {
    background-color: #ebebeb;
    border-radius: 5px;
  }
}
@media (max-width: 380px) {
  .main-title {
    font-size: 28px;
  }
  .main-slider-section .slide-descr {
    margin-bottom: 30px;
  }
}
