// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }

  &.compensate-for-scrollbar {
    padding: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*::selection {
  background: $brand-primary;
  color: #fff;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  line-height: 140%;
}

.section-descr {
  max-width: 630px;
}

.main-screen {
  position: relative;
  min-height: 100vh;
  height: auto;
  background-color: #000;
  .main-screen__bg {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.7) 50%
      );
    }
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header__wrapper {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-colored-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  display: flex;
  justify-content: space-between;
  span {
    width: 33.33%;
    &:nth-child(1) {
      background-color: $brand-primary;
    }
    &:nth-child(2) {
      background-color: $brand-red;
    }
    &:nth-child(3) {
      background-color: $brand-green;
    }
  }
}

.header__logo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.header__descriptor {
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  color: $brand-gray;
  line-height: 120%;
  max-width: 100px;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: auto;

  .info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
  }
  .info-item__ico {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-primary;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .info-item__link {
    color: #fff;
    font-weight: 500;
  }
  .info-item__descr {
    color: $brand-gray;
  }
}

.header__menu-btn {
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  .menu-btn__ball {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $brand-primary;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4766 0.823627C16.7337 0.912689 16.9353 1.07101 17.0993 1.31292C17.2657 1.55816 17.3174 1.76464 17.2959 2.09749C17.2666 2.55011 17.0179 2.92046 16.6081 3.12171L16.387 3.23031H8.98463H1.58228L1.36115 3.12171C1.11826 3.00246 0.911386 2.79718 0.773534 2.5387C0.698339 2.39769 0.684082 2.31175 0.684082 1.99984C0.684082 1.68792 0.698339 1.60199 0.773534 1.46097C0.911386 1.20249 1.11826 0.997221 1.36115 0.877963L1.58228 0.769369L8.92603 0.760658C15.9601 0.752338 16.2785 0.754994 16.4766 0.823627ZM16.4766 5.82351C16.7338 5.91273 16.9353 6.07109 17.0993 6.31292C17.2657 6.55816 17.3174 6.76464 17.2959 7.09749C17.2666 7.55011 17.0179 7.92046 16.6081 8.12171L16.387 8.23031H10.1565H3.92603L3.72224 8.12288C3.26935 7.88413 3.0281 7.49386 3.0281 6.99984C3.0281 6.50581 3.26935 6.11554 3.72224 5.87679L3.92603 5.76937L10.0979 5.76058C15.9987 5.75214 16.2789 5.75492 16.4766 5.82351ZM16.4766 10.8234C16.7339 10.9128 16.9354 11.0712 17.0993 11.3129C17.2657 11.5582 17.3174 11.7646 17.2959 12.0975C17.2666 12.5501 17.0179 12.9205 16.6081 13.1217L16.387 13.2303H12.5198H8.6526L8.4531 13.125C8.15721 12.9689 8.03568 12.8512 7.88834 12.578C7.76713 12.3532 7.7556 12.3031 7.7556 11.9998C7.7556 11.6964 7.76709 11.6466 7.88885 11.4207C8.03267 11.154 8.19693 10.9964 8.4756 10.8575L8.6526 10.7694L12.4612 10.7604C16.0727 10.7519 16.2805 10.7551 16.4766 10.8234Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
  }
}

.main-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
  line-height: 120%;
}

.main-slider-section {
  & > .container {
    height: 100%;
  }
  .main-slider {
    height: fit-content;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 140px);
  }
  .slide__content {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-width: 740px;
  }
  .slide-descr {
    margin-bottom: 60px;
    color: #ffffff;
    line-height: 140%;
  }
  .slide__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding-right: 20px;
  }
  .play-sphere {
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  .play-sphere__ico {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: orbitBall 20s linear infinite;
    transform-origin: 110px 110px;
    svg {
      animation: orbitBallReverse 20s linear infinite;
    }
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    .slide__content {
      transform: translateY(30px);
      opacity: 0.5;
    }
  }
}

@keyframes orbitBall {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes orbitBallReverse {
  100% {
    transform: rotate(-360deg);
  }
}

.main-slider__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 0;
  .swiper-pagination {
    order: 2;
    position: static;
    width: auto;
  }
  .swiper-pagination-bullet {
    transition: background-color 0.25s ease-in-out;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: #fff;
    &.swiper-pagination-bullet-active {
      background-color: $brand-primary;
    }
  }
}

.slider__btns {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 48px;
    height: 48px;
    background-color: $brand-primary;
    border-radius: 50%;
    margin: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  transition: opacity 0.25s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 13px;
  &::after {
    display: none;
  }
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.29297 13.5861L0.706971 8.00006C0.5195 7.81253 0.414185 7.55823 0.414185 7.29306C0.414185 7.0279 0.5195 6.77359 0.706971 6.58606L6.29297 1.00006C6.43282 0.860253 6.61099 0.765046 6.80494 0.726479C6.99889 0.687911 7.19993 0.707714 7.38263 0.783384C7.56533 0.859054 7.72149 0.987194 7.83137 1.1516C7.94126 1.31601 7.99993 1.50931 7.99997 1.70706V12.8791C7.99993 13.0768 7.94126 13.2701 7.83137 13.4345C7.72149 13.5989 7.56533 13.7271 7.38263 13.8027C7.19993 13.8784 6.99889 13.8982 6.80494 13.8596C6.61099 13.8211 6.43282 13.7259 6.29297 13.5861Z' fill='white'/%3e%3c/svg%3e ");
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 12.8791V1.70706C4.22242e-05 1.50931 0.0587138 1.31601 0.168598 1.1516C0.278482 0.987194 0.434645 0.859054 0.617345 0.783384C0.800044 0.707714 1.00108 0.687911 1.19503 0.726479C1.38898 0.765046 1.56715 0.860253 1.707 1.00006L7.29299 6.58606C7.48046 6.77359 7.58577 7.0279 7.58577 7.29306C7.58577 7.55823 7.48046 7.81253 7.29299 8.00006L1.707 13.5861C1.56715 13.7259 1.38898 13.8211 1.19503 13.8596C1.00108 13.8982 0.800044 13.8784 0.617345 13.8027C0.434645 13.7271 0.278482 13.5989 0.168598 13.4345C0.0587138 13.2701 4.22242e-05 13.0768 0 12.8791Z' fill='white'/%3e%3c/svg%3e ");
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.partners {
  padding: 100px 0 75px;
  overflow: hidden;
  .title-wrapper {
    margin-bottom: 80px;
  }
}

.partners__slider {
  overflow: visible;
  .swiper-slide {
    transition: background-color 0.25s ease-in-out;
    width: 268px;
    height: 150px;
    background-color: #f9f9f9;
    &:hover {
      background-color: #e4e4e4;
      img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
  .partners__item {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    img {
      transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }
}

.advantages {
  padding: 75px 0;
}

.advantages__list {
  padding-top: 30px;
  display: flex;
  align-items: center;
  .advantage {
    position: relative;
    flex-shrink: 0;
    padding: 45px;
    padding-top: 80px;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    &:not(:first-child) {
      margin-left: -30px;
    }
  }
  .advantage__num {
    font-weight: 500;
    font-size: 36px;
    color: $brand-primary;
    margin-bottom: 10px;
    @include pruning(1);
  }
  .advantage__title {
    font-size: 24px;
    margin-bottom: 10px;
    @include pruning(2);
    color: $brand-black;
    font-weight: 500;
  }
  .advantage__text {
    @include pruning(4);
  }
  .advantage__step {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $brand-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

.services {
  padding: 75px 0;
  overflow: hidden;
}

.services__slider {
  overflow: visible;
  .swiper-wrapper {
    padding-top: 30px;
  }
  .service {
    position: relative;
    width: 300px;
    height: 430px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(50, 60, 141, 0) 0%,
        #323c8d 100%
      );
      right: 0;
      top: 0;
    }
    &::after {
      background: linear-gradient(90deg, rgba(50, 60, 141, 0) 0%, #323c8d 100%);
      position: absolute;
      width: 100%;
      height: 1px;
      content: "";
      bottom: 0;
      left: 0;
    }
    .service__arrow {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $brand-primary;
      position: absolute;
      right: 30px;
      bottom: 30px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.31905 2.0373C2.31896 2.305 2.37162 2.57008 2.47403 2.81741C2.57643 3.06475 2.72656 3.28948 2.91585 3.47876C3.10514 3.66805 3.32987 3.81819 3.5772 3.92059C3.82453 4.02299 4.08962 4.07565 4.35731 4.07557H9.04282L0.596802 12.5216C0.214676 12.9037 -2.41581e-08 13.422 0 13.9624C2.41581e-08 14.5028 0.214677 15.0211 0.596803 15.4032C0.978929 15.7853 1.4972 16 2.03761 16C2.57802 16 3.09629 15.7853 3.47842 15.4032L11.9244 6.95718V11.6427C11.9243 12.1831 12.1389 12.7015 12.5209 13.0838C12.903 13.466 13.4213 13.6808 13.9617 13.681C14.5022 13.6811 15.0206 13.4665 15.4028 13.0844C15.7851 12.7024 15.9999 12.1841 16 11.6437V4.75467C16 4.13027 15.8771 3.51197 15.6381 2.9351C15.3992 2.35822 15.049 1.83406 14.6075 1.39254C14.1659 0.951023 13.6418 0.600796 13.0649 0.361863C12.488 0.12293 11.8697 -3.15252e-05 11.2453 3.07961e-07L4.35635 0C3.81605 8.15607e-05 3.2979 0.214753 2.91585 0.596803C2.5338 0.978854 2.31913 1.497 2.31905 2.0373Z' fill='white'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: center;
    }

    .service__count {
      font-size: 32px;
      margin-bottom: auto;
    }
    .service__title {
      @include pruning(2);
      font-size: 24px;
      color: $brand-black;
      margin: 10px 0;
    }
    .service__text {
      color: $brand-gray;
      line-height: 140%;
      @include pruning(5);
    }
    .service__count,
    .service__title,
    .service__text {
      transition: color 0.25s ease-in-out;
    }

    &:hover {
      .service__wrapper {
        background-color: transparent;
      }
      .service__count,
      .service__title,
      .service__text {
        color: #fff;
      }
    }
  }
  .service__blur {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
  }

  .service__wrapper {
    transition: background-color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
  }
}

.certificates {
  padding: 75px 0;
}

.certificates__slider {
  .swiper-wrapper {
    padding-top: 30px;
  }
  .certificat {
    cursor: pointer;
    width: 300px;
    height: 416px;
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 1);
    padding: 10px;
    transition: box-shadow 0.25s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 0px 10px $brand-primary inset;
      .certificat__img:before {
        opacity: 1;
      }
    }
  }
  .certificat__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    position: relative;
    &:before {
      transition: opacity 0.25s ease-in-out;
      opacity: 0;
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $brand-primary;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4944 10.0622C16.9156 10.3221 14.635 10.9086 12.1745 11.9445C8.44193 13.516 4.58679 16.1352 1.40328 19.2626C0.198034 20.4467 0.055537 20.7019 0.239863 21.3459C0.412796 21.9495 2.97391 24.3351 5.33427 26.0911C9.51493 29.2011 13.846 31.116 18.233 31.794C18.9227 31.9006 19.6506 31.9387 21 31.9387C22.9404 31.9387 23.8256 31.8452 25.5695 31.456C27.2469 31.0815 29.8102 30.148 31.5347 29.2832C34.6188 27.7369 37.9763 25.3115 40.5966 22.7374C41.8019 21.5533 41.9444 21.2981 41.7601 20.6541C41.5871 20.0505 39.026 17.6649 36.6657 15.9089C33.7247 13.7212 30.7484 12.1468 27.6215 11.1249C25.3556 10.3844 23.7084 10.1018 21.4069 10.0589C20.5341 10.0426 19.6735 10.0441 19.4944 10.0622ZM22.1643 12.5426C25.5385 13.047 28.2653 15.4241 29.2054 18.6807C30.502 23.1717 27.8609 27.8943 23.3193 29.2055C18.8282 30.502 14.1057 27.8609 12.7945 23.3193C11.2506 17.9716 15.3133 12.5324 20.903 12.4635C21.2749 12.4588 21.8425 12.4945 22.1643 12.5426ZM20.2268 14.9474C19.3794 15.1143 19.1103 15.1876 18.6843 15.3676C17.2237 15.9847 15.9908 17.2177 15.3715 18.6807C15.0377 19.4692 14.9388 19.9992 14.9388 21C14.9388 22.0008 15.0377 22.5308 15.3715 23.3193C16.1237 25.0964 17.6621 26.414 19.6165 26.9552C19.8241 27.0126 20.4409 27.0558 21.0406 27.0549C22.0093 27.0534 22.1607 27.0319 22.835 26.8006C23.8911 26.4382 24.5201 26.0419 25.3131 25.2393C26.0958 24.4471 26.5753 23.6362 26.8513 22.6383L27.017 22.0386L26.7551 22.0931C25.38 22.3793 24.2575 22.0626 23.3182 21.1232C21.89 19.6951 21.8742 17.4771 23.2817 16.0168C23.5042 15.786 23.6587 15.5736 23.6249 15.5449C23.4674 15.4112 22.6896 15.1423 22.1224 15.0256C21.5469 14.9071 20.6246 14.8691 20.2268 14.9474Z' fill='white'/%3e%3c/svg%3e ");
      background-size: 41px 41px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.mission {
  padding: 75px 0;
}

.mission__wrapper {
  .mission__head {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    position: relative;
    // border-bottom: 2px solid $brand-primary;
  }
  .mission__title {
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-size: 94px;
    line-height: 100%;
    margin-right: 30px;
    font-weight: 500;
    color: $brand-black;
  }
}

.mission__img {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 43.5%;
  .img__container {
    overflow: hidden;
    box-shadow: 10px 10px 0px 0px $brand-primary;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 10px);
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.mission__footer {
  padding-top: 30px;
}

.mission__slogan {
  gap: 30px;
  position: relative;
  display: flex;
  font-size: 28px;
  text-align: center;
  font-style: italic;
  color: #6e6e73;
  &::before {
    flex-shrink: 0;
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 52px;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='52' viewBox='0 0 80 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M68.8517 52H43.0769L47.2687 32.0201C49.7659 20.4452 53.6901 12.2729 59.0412 7.50336C64.4519 2.67562 71.4381 0.174497 80 0L77.5028 11.604C73.2218 12.5928 69.922 14.2796 67.6031 16.6644C65.2843 19.0492 63.5006 22.7718 62.252 27.8322H74.0245L68.8517 52ZM25.864 52H0L4.28094 32.0201C6.77815 20.4452 10.7023 12.2729 16.0535 7.50336C21.4047 2.67562 28.3612 0.174497 36.9231 0L34.4259 11.604C30.1449 12.5928 26.845 14.2796 24.5262 16.6644C22.2074 19.0492 20.4534 22.7718 19.2642 27.8322H31.0368L25.864 52Z' fill='%23323C8D'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after {
    flex-shrink: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 80px;
    height: 52px;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='52' viewBox='0 0 80 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.1483 0H36.9231L32.7313 19.9799C30.2341 31.5548 26.3099 39.7271 20.9588 44.4966C15.5481 49.3244 8.56187 51.8255 0 52L2.49721 40.396C6.77815 39.4072 10.078 37.7204 12.3969 35.3356C14.7157 32.9508 16.4994 29.2282 17.748 24.1678H5.97547L11.1483 0ZM54.136 0H80L75.7191 19.9799C73.2218 31.5548 69.2977 39.7271 63.9465 44.4966C58.5953 49.3244 51.6388 51.8255 43.0769 52L45.5741 40.396C49.8551 39.4072 53.155 37.7204 55.4738 35.3356C57.7926 32.9508 59.5466 29.2282 60.7358 24.1678H48.9632L54.136 0Z' fill='%23323C8D'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
